@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/shippori-mincho-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/shippori-mincho-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/zen-kaku-gothic-new-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/zen-kaku-gothic-new-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/ibm-plex-mono-latin-400-normal.woff2') format('woff2');
}
